@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous';
}

body {
    text-align: center;
    background:#fffde7
}

h1{
    padding: 30px;
    text-align: center;
}

.container{
    padding: 5px;
}

.container-center{
    position: relative;
    height: auto;
    width: auto;
    background-color: #1B1B1B;
    max-width: 700px;
    margin: auto;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(187, 130, 130);
    display: flex;
    padding: 20px 0;
}

.izquierdo{
    width: 70%;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f8fafb
}

.regresar{
    padding: 20px;
}

.regresar a{
    display: block;
    text-align: center;
    width: 100px;
    padding: 15px 10px;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    background-color: #1B1B1B;
    color: #fffde7;
    box-shadow: 0 0 30px rgb(187, 130, 130);
    &:hover{
        transform: scale(1.1);
    }
}

.derecha{
    width: 30px;
}

.msj{
    font-size: 40px;
    height: 50px;
}

.option{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    font-size: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:hover{
    background-color: #262526;
}

